<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo" style="height: 68px!important;">
    <a href="javascript:void(0)" class="app-brand-link" >
      <div class="d-flex flex-column align-items-center w-100 text-center">
        <span class="app-brand-logo mb-2">
          <img 
            src="/img/Logo NSM Tech.V2-Confirm.png" 
            alt="NSM Tech Logo" 
            style="width: 140px;"
          >
        </span>
        <span style="font-size: 11.3px;" class="menu-text text-uppercase fw-bolder text-primary">
          NSM Task Management System
        </span>
      </div>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1" id="web-sidebar-menu">
  <!-- <ul class="menu-inner py-1" id=""> -->
    <li class="menu-header small text-uppercase mb-3">
      <span class="menu-header-text placeholder-glow"><span class="placeholder py-2 col-12 rounded-1"></span></span>
    </li>
    <li class="menu-item placeholder-glow d-flex">
      <span class="placeholder py-3 my-3 col-10 mx-auto rounded-1"></span>
    </li>
    <li class="menu-item placeholder-glow d-flex">
      <span class="placeholder py-3 my-3 col-10 mx-auto rounded-1"></span>
    </li>
    <li class="menu-item placeholder-glow d-flex">
      <span class="placeholder py-3 my-3 col-10 mx-auto rounded-1"></span>
    </li>
    
    <li class="menu-header small text-uppercase mb-3">
      <span class="menu-header-text placeholder-glow"><span class="placeholder py-2 col-12 rounded-1"></span></span>
    </li>
    <li class="menu-item placeholder-glow d-flex">
      <span class="placeholder py-3 my-3 col-10 mx-auto rounded-1"></span>
    </li>
  </ul>
</aside>

<%- include('./modal/cateCreate.ejs') %>