<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <div class="d-flex justify-content-between w-100 p-3">
      <!-- Left Section -->
      <div class="d-flex align-items-center">
        <!-- <i class="fa-solid fa-address-card text-color " style="font-size: 20px;"></i> -->
        <i class="fa-solid fa-gear" style="font-size: 20px;"></i>
        <p class="mb-0 ms-2 fw-semibold text-primary ml-2 text-color " style="font-size: 16px; ">Setting</p>
      </div>
    </div>

  </nav>