<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/"
  data-template="vertical-menu-template-free">
    <head>
        <title>NSM Task Management System</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/vendor/fonts/boxicons.css">
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"/>

    
        <!-- Core CSS -->
        <link rel="stylesheet" href="/vendor/css/core.css" class="template-customizer-core-css">
        <link rel="stylesheet" href="/vendor/css/theme-default.css" class="template-customizer-theme-css">
        <link rel="stylesheet" href="/css/demo.css">
    
        <!-- Vendors CSS -->
        <link rel="stylesheet" href="/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
    
        <link rel="stylesheet" href="/vendor/libs/apex-charts/apex-charts.css">
        <link rel="stylesheet" href="/vendor/animation/aos.css">
        <link rel="icon" type="image/png" href="/img/Logo NSM Tech.V2-Confirm.png">

    
        <!-- Page CSS -->
    
        <!-- Helpers -->
        <script src="/vendor/js/helpers.js"></script>
    
        <script src="/js/default_js/config.js"></script>
    
        <!-- Custom fonts for this template-->
        <link rel="stylesheet" href="/vendor/fontawesome-free-6.7.2-web/css/all.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
            rel="stylesheet">
        <link rel="stylesheet" href="/vendor/quill/quill.snow.css">
    
    </head>
<body id="page-top">

    <div class="lines z-1" style="position: absolute;">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

    <header class="herder-landing">
        <nav class="navbar navbar-expand-lg w-100">
            <div class="container py-2 nav-head">
                <a href="/index" class="app-brand-link">
                    <span class="app-brand-logo demo">
                        <div class="logo m-auto" style="width: 140px!important;">
                            <img src="/img/Logo NSM Tech.V2-Confirm.png" alt="">
                        </div>
                    </span>
                </a>
                <span class="app-brand-text demo menu-text fw-bolder ms-2 text-uppercase text-primary text-center" style="color: #5A697D; font-size: 20px;">NSM Task Management System</span>
                <div class="login">
                    <a href="/pages/home"><button class="btn btn-outline-primary" type="submit">Login</button></a>
                </div>
            </div>
        </nav>
    </header>

    <!-- hero banner -->
    <section class="hero-banner position-relative z-3">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="card border-0 bg-transparent" style="box-shadow: none;">
                        <div class="card-header m-auto">
                            <p class="intro-text m-0">
                                TASK MANAGEMENT LIKE YOU WISHED IT WAS
                            </p>
                        </div>
                        <div class="card-body hero-main-txt">
                            <div>
                                <h1 class="card-title text-center head-text py-3 text-uppercase text-white">
                                    Built for your projects <br> Designed for your progress
                                </h1>
                                <p class="card-text text-center sub-text text-white">
                                    Thoughtfully crafted project management software <br> that works for any team in any
                                    industry
                                    without any configurations gymnastics
                                </p>
                            </div>
                        </div>
                        <div class="card-footer text-muted m-auto">
                            <a class="btn btn-primary fs-5" href="/pages/home" role="button">Get Into Task Managemnet System</a>
                        </div>
                    </div>
                </div>
                <div class="col-4 d-flex justify-center align-items-center ps-5">
                    <img style="width: 400px;" src="/img/icons/flati/tasks (1).png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
          <div class="container">
            <div class="row">
                <div class="col-4 d-flex justify-center align-items-center ps-5">
                    <img style="width: 250px;" src="/img/icons/flati/engineer.png" alt="">
                </div>
                <div class="col-8">
                    <div class="card border-0 bg-transparent" style="box-shadow: none;">
                        <div class="card-body hero-main-txt">
                            <div>
                                <h1 class="card-title text-center head-text py-3">
                                    <strong>The Process</strong> <br> <span style="font-size: 25px;">About Our Work</span>
                                </h1>
                                <p class="card-text text-center sub-text">
                                    We streamline your workflow with a clear, efficient, and transparent task management process — from initial planning and assignment to real-time tracking and successful completion. Every task is prioritized, monitored, and delivered on time, ensuring nothing falls through the cracks.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <section class="py-5">
          <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="card border-0 bg-transparent" style="box-shadow: none;">
                        <div class="card-body hero-main-txt">
                            <div>
                                <h1 class="card-title text-center head-text py-3 ">
                                    <strong>How We Do It</strong> <br> <span style="font-size: 25px;">About Our Work</span>
                                </h1>
                                <p class="card-text text-center sub-text">
                                    We follow a proven, end-to-end workflow: Discovery → Strategy & Planning → Design & Execution → Review & Refinement → Final Delivery & Support. Each phase is carefully managed, tracked, and shared with you in real time, ensuring quality, speed, and complete alignment with your expectations.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 d-flex justify-center align-items-center ps-5">
                    <img style="width: 250px;" src="/img/icons/flati/work-flow.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
    <footer style="background-color: white;" class="mt-4">
        <div class="container">
            <div class="row g-4 align-items-center rounded-2 p-2">
                <div class="col-lg-4 col-md-12 mt-0 order-lg-0 order-md-2">
                    <div class="card" style="box-shadow: none;">
                        <div class="card-header ps-lg-0 pt-lg-4 pt-md-0">
                           <p class="text-lg-start text-md-center mb-0" style="font-size: 14px;">
                            © 2025 All rights reserved
                           </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mt-0 order-lg-1 order-md-0">
                    <div class="card" style="box-shadow: none;">
                        <div class="card-header p-lg-0 p-md-3">
                           <a href="#">
                            <div class="text-center">
                                <img style="width: 40%; text-align: center;" src="/img/Logo NSM Tech.V2-Confirm.png" alt="">
                            </div>
                           </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mt-0 order-lg-2 order-md-1">
                    <div class="card" style="box-shadow: none;">
                        <div class="card-header p-3">
                            <div class="text-xl-end text-center mt-xl-0 mt-2">
                                <div class="social-media d-flex gap-2 justify-content-xl-end justify-content-center">
                                    <a class="media" data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-custom-class="custom-tooltip" data-bs-title="Facebook"
                                        href="#">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                    <a class="media" data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-custom-class="custom-tooltip" data-bs-title="Instagram"
                                        href="#"><i class="fa-brands fa-instagram"></i></a>
                                    <a class="media" data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-custom-class="custom-tooltip" data-bs-title="Tik tok"
                                        href="#">
                                        <i class="fa-brands fa-tiktok"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>




    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="/vendor/libs/jquery/jquery.js"></script>
    <script src="/vendor/libs/popper/popper.js"></script>
    <script src="/vendor/js/bootstrap.js"></script>
    <script src="/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/vendor/animation/aos.js"></script>

  <!-- Initialize Swiper -->
  <script>
    AOS.init();
  </script>

    <script>
        // toop tip
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>


</body>

</html>