<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/"
  data-template="vertical-menu-template-free">


<%- include('../partials/head') %>

  <body>
    <div id="page-loader" aria-label="Loading">
      <div class="spinner"></div>
  </div>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar" id="main-content">
      <div class="layout-container">
        <!-- Menu -->

        <%- include('../partials/sidebar-superadmin') %>
          <!-- / Menu -->

          <!-- Layout container -->
          <div class="layout-page">
            <!-- Navbar -->

            <%- include('../partials/topbar-superadmin') %>

              <!-- / Navbar -->

              <!-- Content wrapper -->
              <div class="content-wrapper ">
                <!-- Content -->
                <div class="container-fluid resource-supper-admin ">
                  <div class=" defaul-context" id="defaultResource">
                    <!-- deflut -->
                  </div>

                  <div class="quill-resoutce quill-resource bg-white p-4 rounded-2 d-none" style="margin-top: 33px;" id="quillResource">

                  </div>
                </div>
                <!-- Modal Edit Rsource-->
                <div class="modal fade setting-project" id="editResource" data-bs-backdrop="static" data-bs-keyboard="false"
                  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header border-0">
                        <h1 class="modal-title fs-5 text-dark" id="staticBackdropLabel">Edit Resource</h1>
                        <button type="button" class="btn-close closebtn" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form action="">
                          <div class="d-flex status_title_input tab_status_setting">
                          <div class="w-100">
                            <div class="col px-0 input-container" >
                                <i class='tf-icons  bx bx-book-bookmark pe-1 icon' ></i> 
                                <input type="text" class="form-control bg-gray-200  w-100" id="editresource" placeholder="Resource Title" style="border-radius: 0 5px 5px 0px !important;" oninput="onInputRequireString('editresource', 'invalid-editresource', 255, 
                                       {require: 'Please fill in your Resource!', overdata: 'Resource name cannot over than 255 character!'})">
                              </div>
                              <div class="invalid-feedback mb-2" id="invalid-editresource">
                              </div>
                          </div>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer border-0">
                        <button type="button" class="btn btn-secondary closebtn" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary d-flex align-items-center" id="btn-edit-resource" onclick="editResources()">
                          <div id="btn-edit-resource-spinner" class="spinner-border text-white spinner-border-sm me-2 d-none" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                          <span id="btn-edit-resource-text">Update</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- / Content -->
              

                <!-- Footer -->

                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
              </div>
              <!-- Content wrapper -->
          </div>
          <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>


    <!-- create Modal -->
    <div class="modal fade setting-project" id="createResource1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h1 class="modal-title fs-5 text-dark" id="staticBackdropLabel">Create Resource</h1>
            <button type="button" class="btn-close closebtn" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="">
              <div class="d-flex status_title_input tab_status_setting">
              <div class="w-100">
                <div class="col px-0 input-container" >
                    <i class='tf-icons  bx bx-book-bookmark pe-1 icon' ></i> 
                    <input type="text" class="form-control bg-gray-200  w-100" placeholder="Resource Title" id="titleResource" style="border-radius: 0 5px 5px 0px !important;">
                  </div>
                  <div class="invalid-feedback " id="invalid-resource">
                    Please fill in your password!
                  </div>
              </div>
              </div>
            </form>
          </div>
          <div class="modal-footer border-0">
            <button type="button" class="btn btn-secondary closebtn" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary d-flex align-items-center" id="btn-create-resource" onclick="createResource()">
              <div id="btn-create-resource-spinner" class="spinner-border text-white spinner-border-sm me-2 d-none" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <span id="btn-create-resource-text">Create</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- createlink -->
    <div class="modal fade" id="createLink" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelLink" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header border-0">
                  <h1 class="modal-title fs-5 text-dark" id="staticBackdropLabelLink">Upload Resource File</h1>
                  <button type="button" class="btn-close closebtn" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form action="">
                      <div class="w-100">
                          <div class="col px-0">
                            <input type="file" id="fileInput" class="form-control bg-gray-200 w-100" placeholder="Resource Title">
                          <div class="invalid-feedback" id="invalid-file">
                            Please fill in your email!
                          </div>
                          </div>
                      </div>
                  </form>
              </div>
              <div class="modal-footer border-0">
                  <button type="button" class="btn btn-secondary closebtn" data-bs-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary d-flex align-items-center" id="btn-upload-file" onclick="uploadFile()">
                    <div id="btn-upload-file-spinner" class="spinner-border text-white spinner-border-sm me-2 d-none" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                    <span id="btn-upload-file-text">Upload</span>
                  </button>
              </div>
          </div>
      </div>
    </div>

    <!-- editfile -->
    <div class="modal fade" id="editLink" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelLink" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header border-0">
                  <h1 class="modal-title fs-5 text-dark" id="staticBackdropLabelLink">Update Resource File</h1>
                  <button type="button" class="btn-close closebtn" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form action="">
                      <div class="w-100">
                         <div class="col px-0">
                          <input type="file" id="fileEdit" class="form-control bg-gray-200 w-100 mb-2" placeholder="Resource Title">
                          <div class="invalid-feedback" id="invalid-editfile">
                            Please fill in your email!
                          </div>
                         </div>
                          <span id="fileEditLabel"></span>
                      </div>
                  </form>
              </div>
              <div class="modal-footer border-0">
                  <button type="button" class="btn btn-secondary closebtn" data-bs-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary" id="btn-edit-file" onclick="editFiles()">
                    <div id="btn-edit-file-spinner" class="spinner-border text-white spinner-border-sm me-2 d-none" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                    <span id="btn-edit-file-text">Update</span>
                  </button>
              </div>
          </div>
      </div>
    </div>

  <!-- Scrollable modal -->
  <div class="modal fade resource-modal" id="modalScrollable" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header border-1 pb-3">
          <h5 class="modal-title" id="modalScrollableTitle ">View Detail</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" id="TitleView" class="fs-4 fw-bold bg-transparent border-0 pt-0 mt-0" placeholder="Untitled" style="outline: none;">
          <div id="noteContentView" class="mt-3 "></div>
      </div>
        <div class="modal-footer border-1 pt-3">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

    <!--  -->
    </div>

    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
    <script src="/vendor/libs/jquery/jquery.js"></script>
    <script src="/vendor/libs/popper/popper.js"></script>
    <script src="/vendor/js/bootstrap.js"></script>
    <script src="/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/vendor/select2/select2.min.js"></script>
    <script src="/vendor/sweetAlert2/sweetalert2@11.js"></script>
    <script src="/vendor/js/menu.js"></script>

    <!-- endbuild -->

    <script src="/js/backNavigationHandler.js"></script>
    <script src="/js/spinner.js"></script>

    <!-- Sidebar  -->
    <script src="/js/fetchApi.js"></script>
    <script src="/js/btnLoading.js"></script>
    <script src="/js/projected/fetchProject.js"></script>
    <script src="/js/validation.js"></script>
    <script src="/js/sidebar/sidebar-project.js"></script>
    <script src="/js/category/fetch.js"></script>
    <script src="/js/requestPassword/fetchRequest.js"></script>
    <script src="/js/profile/fetchProfile.js"></script>
    <script src="/js/topbar/topbar-superadmin.js"></script>
    <script src="/js/logout/logout.js"></script>
    <!-- / Sidebar -->

    <script src="/js/resource.js"></script>
    <script src="/js/validation.js"></script>
    <script src="/js/activity/fetchActivity.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- quill  -->
    <script src="/js/default_js/main.js"></script>
    <script src="/vendor/quill/quill.js"></script>
  </body>

</html>